<!DOCTYPE html>

<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<link href="/static/css/base.css" rel="stylesheet"/>
		<link rel="shortcut icon" href="http://static.guim.co.uk/favicon.ico" type="image/x-icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
	<div class="pages">
		<iframe class="page s-on-display" src="http://www.dailymail.co.uk"></iframe>
		<iframe class="page" src="http://www.telegraph.co.uk"></iframe>
	</div>
	</body>
</html>