{% extends 'base.html' %}

{% block title %}Simple python app example{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="article-heading">Newsroom URL circulator</h1>

			<blockquote>Surfacing the front pages to the front editors</blockquote>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<h2 class="sub-heading">What is this?</h2>
			<p>This is a template app to provide a basic scaffold for a Python app deployed on Google App Engine.</p>
			<p>It is meant to provide a good basis for relatively uncomplicated small applications.</p>
		</div>
		<div class="col-md-6">
			<h2 class="sub-heading">Percolator</h2>

			<ol>
				<li><a href="/percolator/default">Default</a></li>
				<li><a href="/percolator/au-nf">AU NF list</a></li>
				<li><a href="/percolator/paul-owen">Paul Owen</a></li>
			</ol>


		</div>
	</div>
</div>

{% endblock %}
