<!DOCTYPE html>

<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<link href="/static/css/base.css" rel="stylesheet"/>
		<link rel="shortcut icon" href="http://static.guim.co.uk/favicon.ico" type="image/x-icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body class="full-screen-circulator">
	<div class="circulator-panel">
		<iframe id="circulator-frame" class="circulator-frame" src="http://www.telegraph.co.uk" allowfullscreen="true" seamless></iframe>
	</div>
	</body>
	<script src="/static/js/mousetrap.min.js"></script>
	<script src="/static/js/coffee-script.js"></script>
	<script type="text/coffeescript">

	jQuery ->
		urls = {{sites}}
		i = 0
		wait_seconds = 28
		circulatorFrame = document.getElementById 'circulator-frame'
		timeoutId = null

		emitAdvance = -> jQuery(window).trigger('circ.advance')
		emitReverse = -> jQuery(window).trigger('circ.reverse')

		scheduleAdvance = ->
			timeoutId = window.setTimeout(emitAdvance , (wait_seconds * 1000))

		cancelCurrentTimeout = (currentTimeoutId) ->
			if(currentTimeoutId)
				window.clearTimeout(currentTimeoutId)

		advance = ->
			#console.log 'Forward'
			cancelCurrentTimeout(timeoutId)
			i++
			i = if i >= urls.length then 0 else i
			circulatorFrame.src = urls[i]
			scheduleAdvance()

		reverse = ->
			#console.log 'Backward'
			cancelCurrentTimeout(timeoutId)
			i--
			i = if i < 0 then i = urls.length else i
			circulatorFrame.src = urls[i]
			scheduleAdvance()

		jQuery(window).on('circ.advance', advance)
		jQuery(window).on('circ.reverse', reverse)

		Mousetrap.bind(['right', 'd'], emitAdvance)
		Mousetrap.bind(['left', 'a'], emitReverse)

		emitAdvance() // Set the frame to be the first in the list

	</script>

</html>